## Archivos de Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

## Archivos de compilación y publicación
bin/
obj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
*.log

## Paquetes de NuGet
*.nupkg
*.snupkg
# Directorios de paquetes de NuGet instalados
packages/
# Directorios generados por el paquete NuGet en .NET Core
!packages/build/
!packages/repositories.config

## Archivos de caché de usuario local
.vscode/
[Tt]humbs.db
Desktop.ini
*.DS_Store

## Archivos de configuración de entorno local
.env
.env.*

## Archivos generados por Rider/JetBrains
.idea/
*.sln.iml

## Directorios de dependencias de Node.js (en caso de usar con proyectos Web o Blazor)
node_modules/

## Archivos de seguridad
*.key
*.pfx
*.p